body{
 font-family:"segoe script";
  font-size:30px;
	background: url("http://bgrounds.ru/_include/img/bgs/scratch-lines/maroon-scratch-lines.png");
	padding:20px;
}
.photocard{
 
  border-radius:20px;
  width:300px;
  height:200px;
	
}
.div{
  display:flex;
  justify-content:space-between;
}
.b{
	visibility:hidden;
	position:relative;
	top:100px;
	width:144px;
	height:144px;
	border:4px #ffd700 solid
}
a:hover .b{
	visibility:visible;
}
li {
	color:gold;
}
.g{
	color:aqua;
	font-size:20px;
		padding: 0;
    margin-left: 300px; 
}
.h{
	color:lime;
	font-size:25px;
	padding: 0;
    margin-left: 300px; 
}
p{
	margin:0
}
.r{
	color:red;
	font-size:30px;
		padding: 0;
    margin-left: 100px; 
}
.r1{
	color:gold;
	font-size:30px;
		padding: 100;
    margin-left: 100px; 
}
@media(min-width:0px)and(max-width: 320px){
	.div {
		text-align: ceter;
	}
	.blue{
			text-align: ceter;
	}
}
.1{
	font-size: 15px
}
